.assetInfo-wapper {
    .width-size-max-asset {
        min-width: 150px;
        max-width: 250px;
    }

    .width-size-max {
        min-width: 180px;
        max-width: 270px;
    }

    .ant-table-content {
        td {
            padding: 2px !important;
        }
    }
}