.modal-createAccount {
    width: 900px !important;

    .card-title {
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
    }
}