.account-status-tag{
    border-radius: 60px;
    border: none;
    font-style: normal;
    width: 120px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    line-height: 18px;
    text-align: end !important;
    height: 25px !important;
}
