.prices-wrapper{
    padding: 24px 40px 33px;
    width: 100%;
    .prices-title{
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: #000000;
    }
}
