.sba-appraisal-file-container {
  .downLoad-icon {
    font-size: 22px;
    font-weight: 600;
  }

  .type-appraisal {
    span {
      text-decoration: underline;
      text-align: left;
    }
  }
}
