.role-cardEddit-wrapper > .ant-card-body{
    padding: 0
}
.role-cardEddit-wrapper{
    .ant-space-vertical{
        width: 100%;
    }
    .ant-card-body > .ant-divider{
        margin: 8px 0 0 0;
    }
} 