.accountDetail-tabs{
    > .ant-tabs-nav {
      margin-bottom: 8px;
      .ant-tabs-nav-wrap {
        height: 37px;
  
        .ant-tabs-nav-list {
          width: 100%;
          color: white;
          justify-content: space-between;
  
          .ant-tabs-ink-bar {
            display: none;
          }
          // .ant-tabs-ink-bar-animated {
          // }
  
          .ant-tabs-tab {
            margin: 0;
            width: 49%;
            //height: 37px;
            justify-content: center;
            border: none;
            &:hover {
              color: #2862af;
              background-color: white;
              border-radius: 4px;
              .ant-tabs-tab-btn {
                color: #2862af;
              }
            }
          }
          .ant-tabs-tab-active {
            background-color: white;
            padding: 8px 16px 8px 16px;
            border-radius: 4px;
  
            .ant-tabs-tab-btn {
              color: #2862af;
            }
          }
        }
      }
    }
  }
  