.price-specific-road-vehicle-detail-container {
    .page-title {
        color: #000;

        /* Typo/Title Hero */
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* 33px */
    }
}