.acc-detail-content_left {
    .ant-space-item>.acc-uploadAva_btn {
        padding: 0;
        width:28px;
        height: 28px;
        border-radius: 50%;
        position: absolute;
        top: 80px;
        right: 0;
    }
}