.expertise-price-asset-wrapper{
    width: 100%;
    padding: 24px 40px 33px;
    .expertise-price-asset-title{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
    }
    .expertise-price-asset-key-title{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.6);
    }
}