.search-select-google-map-container-appraisal {
  min-width: 65%;
  margin-top: 40px;
  .select-search-gmap {
    max-width: 100% !important;
  }
}
.select-custom {
  display: flex;
  align-items: center;
}
