.modal-holidays {
  max-width: 628px !important;
  width: 100% !important;
  .ant-modal-content {
    width: 100%;
    padding: 0px;
    .ant-space {
      width: 100%;
      .ant-space-item {
        width: 100%;
        .modal-holidays-header {
          border-radius: 8px 8px 0 0;
          color: white;
          background-image: linear-gradient(
            to left,
            rgb(111, 190, 237),
            rgb(44, 104, 177)
          );
          padding: 8px;
          width: 100%;
        }
        .modal-holidays-header {
          .card-title-container > .title {
            color: white;
          }
        }
        .ant-col {
          padding: 2px 0px;
        }
      }
    }
    .card-title-container {
      .ant-typography  {
        color: white !important;
      }
    }
  }
  .ant-form {
  }
  .modal-holidays-form {
    display: flex;
    align-items: end;
    flex-direction: column;
    .ant-row {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .ant-col {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    .ant-form-item {
    }
  }
}
