.table-input-add.custom-dung {
  // .table-wrapper table {
  //   table-layout: fixed !important; /* rewrite inline styles */
  // }
  .editable-cell {
    position: relative;
  }
  .ant-table-cell .ant-form-item-control-input-content input.ant-input {
    overflow: hidden;
  }
  .editable-cell-value-wrap {
    cursor: pointer;
    // height: 30px;
  }

  .editable-row:hover .editable-cell-value-wrap {
    border-radius: 2px;
  }
  .ant-form-item {
    margin-bottom: 0px !important;
  }
  .ant-form-item-label {
    display: none !important;
  }

  .ant-table-cell {
    padding: 2px !important ;
  }
  .ant-table-content {
    td {
      padding: 2px !important;
    }
  }
}
