.asset-list-approval-waiting-table-container {
    .text-actions {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
    }
}