.otherInfo-wrapper{
    .form-item-custom{
        width: 100%;
        margin: 0;
        align-items: center;
        .form-input-custom{
            width: 100%;
        }
        .ant-form-item-no-colon{
            span{
                color: #919191;
            }
        }
    }
}