.modalEditAssignment {
    width: 600px !important;

    .ant-modal-content {
        width: 100%;
        padding: 0px;

        .space-assignment {
            width: 100%;

            .ant-space-item {
                .ant-form-horizontal {
                    padding: 0 8px;
                }

                .ant-collapse-icon-position-end {
                    padding: 0 8px;
                }

                .modalEditAssignment-header {
                    border-radius: 8px 8px 0 0;
                    background-image: linear-gradient(to left, rgb(111, 190, 237), rgb(44, 104, 177));
                    padding: 8px;
                    width: 100%;
                }

                .modalEditAssignment-header {
                    .card-title-container .title {
                        color: white;
                    }
                }
            }
        }
    }
}