.tabs-wrapper-custom {
  > .ant-tabs-nav {
    margin-bottom: 8px;
    position: sticky;
    z-index: 99;
    width: 100%;
    .ant-tabs-nav-wrap {
      height: 37px;

      .ant-tabs-nav-list {
        width: 100%;
        color: white;
        justify-content: space-between;
        column-gap: 4px;

        .ant-tabs-ink-bar {
          display: none;
        }
        // .ant-tabs-ink-bar-animated {
        // }

        .ant-tabs-tab {
          margin: 0;
          flex-grow: 1;
          flex-basis: 0;
          //height: 37px;
          justify-content: center;
          border: none;
          &:hover {
            color: #2862af;
            background-color: white;
            border-radius: 4px;
            .ant-tabs-tab-btn {
              color: #2862af;
            }
          }
        }
        .ant-tabs-tab-active {
          background-color: white;
          border-radius: 4px;

          .ant-tabs-tab-btn {
            color: #2862af;
          }
        }
      }
    }
  }
}
