.commonInfo-wrapper{
    .form-item-custom{
        width: calc(100% - 24px);
        margin: 0;
        .form-input-custom{
            width: calc(100% + 24px);
        }
        .ant-form-item-no-colon{
            span{
                color: #919191;
            }
        }
        .warn-typography {
            margin-top: 3px;
            display: block;
        }
    }
}