.priced-shared-water-vehicle-create-container {
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        .title-wrapper {
            .title {
                font-size: 22px;
                font-weight: 700;
            }
        }

        .actions-wrapper {
            display: flex;
            flex-wrap: wrap;

            .btn {
                display: flex;
                align-items: center;
                background-color: transparent;
                height: 36px;
                border-radius: 4px;
                padding-left: 6px;
                padding-right: 6px;
            }

            .btn-save {
                height: 36px;
                border-radius: 4px;
                background-color: #2862af;
                color: white;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}