.modalTimeline {
  width: 95vw !important;
  .ant-steps-item-content {
    min-width: 300px !important;
    .ant-steps-item-description {
      min-width: 100% !important;
      white-space: normal !important;
      word-wrap: break-word !important;
    }
  }
  .ant-steps-icon {
    display: flex;
  }
  .ant-modal-content {
    width: 100%;
    padding: 0px;

    .ant-modal-body {
      width: 100%;
      .ant-card-bordered {
        width: 100%;
      }
    }

    .space-assignment {
      width: 100%;

      .ant-space-item {
        .ant-row {
          margin: 0 !important;
        }

        .ant-form-horizontal {
          padding: 0 8px;
        }

        .ant-collapse-icon-position-end {
          padding: 0 8px;
        }

        .modalTimeline-header {
          border-radius: 8px 8px 0 0;
          background-image: linear-gradient(
            to left,
            rgb(111, 190, 237),
            rgb(44, 104, 177)
          );
          padding: 8px;
          width: 100%;
        }

        .modalTimeline-header {
          .card-title-container .title {
            color: white;
          }
        }
      }
    }
  }
}
